.sidebar{
    background-color: var(--color-light);
    min-width: 300px;
    width: 300px;
    height: 100%;
    padding: 15px;
    border-right: solid 0.5px var(--color-primary-200);
    grid-row: span 2;
}

.sidebar-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.sidebar-logo{
    padding-bottom: 10px;
}

.navigation{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

}

.helpbar{
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.nav-category__title{
    font-weight: 600;
    font-size: 18px;
    margin: 15px;
}

.nav-category{
    margin-bottom: 5px;
}

.helpbar{
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.help-btn{
    cursor: pointer;
    appearance: none;
    text-rendering: auto;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 5px 10px;
    width: fit-content;
    background-color: var(--color-primary-200);
    border-radius: 29px;
    font-weight: 400;
    font-size: 13px;
    color: var(--color-white);
}