{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/multiple_select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/location/create_location.css') }}">
{% endblock %}

{% block navTitle %}
    <p class="navbar__title">Обновление модели #{{ model.id }}</p>
{% endblock %}

{% block content %}
    <form action="{{ url_for('get_update_model_page_choice_field', model_id=model.id) }}" method="post" class="form-container">
        <div class="form-group">
            <label for="model_sensor_type">Датчик:</label>
            <div class="select-wrapper">
                <select name="model_sensor_type" id="model_sensor_type">
                    {% for option in sensor_types %}
                        <option value="{{ option.name }}" {% if option.id == model.model_type.id %}selected{% endif %}>
                            {{ option.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="select-arrow-1"></div>
            </div>
        </div>
        <div class="submit-container">
            <button type="submit" class="button orange submit">Выбор параметров</button>
        </div>
    </form>
{% endblock %}
