.title_add_accident{
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    height: max-content;
    width: 100%;
    justify-items: end;
}

.table-accident-table-info{
    height: 350px;
}