.table-container{
    max-height: 310px;
    height: calc(100% - 30px);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: normal;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}