<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='css/models.css') }}">
    <title>Models Management</title>
</head>
<body>
    <div class="container">
        <h1>Models Management</h1>
        <h2>Existing Models</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Sensor Type</th>
                    <th>Specification</th>
                    <th>Parameters</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.sensor_type.name if model.sensor_type else '' }}</td>
                    <td>{{ model.specification }}</td>
                    <td>{{ model.parameters.fields }}</td>
                    <td>
                        <form action="/pages/models/{{ model.id }}/" method="post" style="display:inline;">
                            <button type="submit" class="red-btn">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Create New Model</h2>
        <form action="/pages/models/" method="post">
            <label for="sensor_type">Sensor Type:</label>
            <input type="text" id="sensor_type" name="sensor_type" required><br>
            <label for="specification">Specification (JSON format):</label>
            <textarea id="specification" name="specification"></textarea><br>
            <label for="parameters">Parameters:</label>
            <textarea id="parameters" name="parameters"></textarea><br>
            <button type="submit">Create Model</button>
        </form>
        <br>
    </div>
</body>
</html>
