{% extends '/location/base.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', path='css/sensor/add_accident.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/form.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/checkbox.css') }}">
{% endblock %}

{% block navTitle %}
	<p class="navbar__title">Добавление аварий для прибора #{{ model.id }} {{ model.model_type.name }}</p>
{% endblock %}


{% block content %}
    <h1 class="title-orange">Введите параметры аварии</h1>
    <form action="{{ url_for('post_add_accident_page', model_id=model.id) }}" method="POST" class="form-container">
        <div class="form-group">
            <label for="name">Введите название аварии</label>
            <input type="text" id="name" name="name" required class="input" placeholder="Текст">
        </div>
        <div class="form-group">
            <label for="mechanical_accident">Механическая авария</label>
            <input class="checkbox-input" type="checkbox" id="mechanical_accident" name="mechanical_accident" value="True">
        </div>
        <div class="form-group">
            <label for="change_value">Введите изменяемые величины</label>
            <input type="text" id="change_value" name="change_value" required class="input input-json"
                   placeholder="параметр:значение,сопротивление:50,диапазон температур:150-250">
        </div>
        <div class="submit-container">
            <button type="submit" class="button orange submit">Добавить ещё</button>
        </div>
    </form>
    <div class="table-wrapper table-container-50">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Прибор</th>
                    <th>Параметры</th>
                    <th>Ошибки</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.model_type.name }}</td>
                    <td>
                        {% for field, value in model.specification.items() %}
                            {{ field }}: {{ value }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for accident in model.accidents %}
                            <div class="value-container">
                                Название: {{ accident.name }}<br>
                                Мех. Повреждение: {% if accident.mechanical_accident %}Да{% else %}Нет{% endif %}<br>
                                Параметры:<br>{% for field, value in accident.change_value.items() %}
                                    {{ field }}: {{ value }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}