{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/location/create_scenario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/multiple_select.css') }}">
{% endblock %}

{% block navTitle %}
    <p class="navbar__title">Создание сценария</p>
{% endblock %}

{% block content %}
    <h1 class="title-orange">Выбор локации и датчика</h1>
    <form action="{{ url_for('post_create_scenario', location_id=location_selected,model_id=model_selected) }}" method="post">
        <div class="form-group">
            <label for="accident-id">Доступные аварии:</label>
            <div class="select select--multiple">
                <select name="accident_selected" id="accident-id" class="multi-select" multiple size="10">
                    {% for option in accidents_options %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="submit-container">
            <button type="submit" class="button orange submit">Добавить сценарий</button>
        </div>
    </form>
{% endblock %}
