{% extends '/location/base.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', path='css/location/location.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/form.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/sensor/add_accident.css') }}">
{% endblock %}

{% block navTitle %}
	<p class="navbar__title">Модели</p>
{% endblock %}

{% block content %}
    <div class="table-wrapper form-container-height-full">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Параметры</th>
                    <th>Ошибки</th>
                    <th>Опции</th>
                </tr>
            </thead>
        <tbody>
            {% for model in models %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.sensor_type.name }}</td>
                    <td>{% for field, value in model.specification.items() %}
                        {{ field }}: {{ value }}<br>
                    {% endfor %}
                    </td>
                    <td>
                        {% for accident in model.accidents %}
                                {{ accident.name }},<br>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="location-option-column">
                            <a href="{{ url_for("get_model_for_id_page", model_id=model.id) }}" class="location-link">
                                <img src="/static/img/Vector.svg" alt="Детально" class="location-icon">
                            </a>
                            <a href="{{ url_for("get_update_model_page", model_id=model.id) }}" class="location-link">
                                <img src="/static/img/Redact.svg" alt="Назначение" class="location-icon">
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}