{% extends '/location/base.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/location/location_info.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/location/location.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/location/accident.css') }}">
    <script>
        function confirmDelete(url) {
            if (confirm("Вы уверены, что хотите удалить эту аварию?")) {
                fetch(url, {
                    method: 'POST'
                }).then(response => {
                    if (response.ok) {
                        window.location.href = "{{ url_for('get_scenario_for_id_page', scenario_id=scenarios.id) }}";
                    } else {
                        alert("Не удалось удалить запись.");
                    }
                }).catch(error => {
                    console.error("Ошибка:", error);
                });
            }
        }
    </script>
{% endblock %}

{% block navTitle %}
	<p class="navbar__title">Сценарий #{{ scenarios.id }} <br>Название {{ scenarios.name }}. Локация "{{ scenarios.location.name }}"</p>
{% endblock %}

{% block content %}
    <div class="location-info-container">
        <div class="location-container">
            <div class="location-data">
                <div class="location-data__name">
                    <p class="location-data__title"> {{ scenarios.location.name }} </p>
                </div>
                <div class="location-data__param">
                    <div class="location-data__param-insert">
                        <p class="location-data-param__name">Статус:</p>
                        <p class="location-data-param__value">{{ scenarios.location.status.value }}</p>
                    </div>
                    <div class="location-data__param-insert">
                        <p class="location-data-param__name">Ошибка в датчике (Id:{{ scenarios.sensor.id }}): {{ scenarios.sensor.KKS }}</p>
                        <p class="location-data-param__value">{{ scenarios.sensor.model.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title-blue">
            Приборы
        </h2>
        <div class="table-wrapper sensor-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>KKS</th>
                        <th>Название</th>
                        <th>Прибор</th>
                        <th>Параметры</th>
                        <th>Наличие ошибки</th>
                    </tr>
                </thead>
                <tbody>
                {% for sensor in scenarios.location.sensors %}
                    <tr>
                        <td>{{ sensor.id }}</td>
                        <td>{{ sensor.KKS }}</td>
                        <td>{{ sensor.name }}</td>
                        <td>{{ sensor.model.sensor_type.name }}</td>
                        <td>
                            {% for field, value in sensor.model.specification.items() %}
                                {{ field }}: {{ value }}<br>
                            {% endfor %}
                        </td>
                        <td>{% if scenarios.sensor.id == sensor.id %}Да{% else %}Нет{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="title_add_accident">
            <h2 class="title-red slim-title">
                Авария
            </h2>
            <a href="{{ url_for("get_add_accident_for_scenario_page", scenario_id=scenarios.id) }}" class="button red slim-title">Добавить</a>
        </div>
        <div class="table-wrapper accident-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Параметры</th>
                        <th>Механическая ошибки</th>
                        <th>Опции</th>
                    </tr>
                </thead>
                <tbody>
                {% for accident in scenarios.accidents %}
                    <tr>
                        <td>{{ accident.id }}</td>
                        <td>{{ accident.name }}</td>
                        <td>{% for field, value in accident.change_value.items() %}
                                {{ field }}: {{ value }}<br>
                            {% endfor %}</td>
                        <td>{% if accident.mechanical_accident %}Да{% else %}Нет{% endif %}</td>
                        <td>
                            <button type="button" onclick="confirmDelete('{{ url_for('delete_accident_for_scenario_page', accident_id=accident.id, scenario_id=scenarios.id) }}')" class="button white">
                                <img src="/static/img/delete.svg" alt="Удаление" class="location-icon">
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
