{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/location/location.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sensor/add_accident.css') }}">
{% endblock %}

{% block navTitle %}
    <p class="navbar__title">Приборы КИП</p>
{% endblock %}

{% block content %}
    <div class="table-wrapper form-container-height-full">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Параметры модели</th>
                <th>Ошибки</th>
                <th>Опции</th>
            </tr>
            </thead>
            <td>
                {% for sensor in sensors %}
                    <tr>
                    <td>{{ sensor.id }}</td>
                    <td>{{ sensor.name }}<br>{{ sensor.KKS }}</td>
                    <td>
                        <div class="value-container">
                            ID: {{ sensor.model.id }}<br>
                            Прибор: {{ sensor.model.model_type.name }}<br>
                            Параметры:<br>
                            {% for field, value in sensor.model.specification.items() %}
                                {{ field }}: {{ value }}<br>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        {% for accident in sensor.model.accidents %}
                            {{ accident.name }},<br>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="location-option-column">
                            <a href="{{ url_for("get_sensor_for_id", sensor_id=sensor.id) }}"
                               class="location-link">
                                <img src="{{ url_for('static', path='/img/Vector.svg') }}" alt="Детально" class="location-icon">
                            </a>
                            {% if user.is_superuser %}
                                <a href="{{ url_for("get_update_sensor", sensor_id=sensor.id) }}"
                                   class="location-link">
                                    <img src="{{ url_for('static', path='/img/Redact.svg') }}" alt="Редактирование" class="location-icon">
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}