{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/profile/tasks.css') }}">
{% endblock %}

{% block navTitle %}
    <p class="navbar__title">Активные задачи</p>
{% endblock %}

{% block content %}
    <h1 class="title-orange">Активные задачи</h1>
    <div class="table tasks-full">
        <table>
            <thead>
                <tr>
                    <th>Название локации</th>
                    <th>Название сценария</th>
                    <th>Прибор</th>
                    <th>Ошибки</th>
                    <th>Оценка</th>
                    <th>Статус</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
            {% for admission in admissions %}
                <tr>
                    <td>{{ admission.scenario.location.name }}</td>
                    <td>{{ admission.scenario.name }}</td>
                    <td>
                        {{ admission.scenario.sensor.model.model_type.name }} KKS:{{ admission.scenario.sensor.KKS }}
                    </td>
                    <td class="column-error">
                        {% for accident in admission.scenario.accidents %}
                        	{{ accident.name }},<br>
                        {% endfor %}
                    </td>
                    <td>{% if admission.status.value == "Завершено" %}Оценка: {{ admission.rating }}{% else %}Работа не оценена{% endif %}</td>
                    <td>
                        {% macro get_status_class(status) %}
                            {% if status == "Не активно" %}
                                status-red
                            {% elif status == "Активно" %}
                                status-orange
                            {% elif status == "Завершено" %}
                                status-green
                            {% elif status == "Проверяется" %}
                                status-blue
                            {% else %}
                                "#"
                            {% endif %}
                        {% endmacro %}
                        <p class="status {{ get_status_class(admission.status.value) }}">{{ admission.status.value }}</p>
                    </td>
                    <td class="option-button">
                        <div class="home-option-column">
                            <a href="{{ url_for("start_admission_app", admission_id=admission.id) }}" class="home-link">
                                <img src="{{ url_for('static', path='/img/Play.svg') }}" alt="Начать" class="home-icon">
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}