{% extends '/location/base.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/form.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/base/checkbox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/model/add_accident.css') }}">

    <script>
        let fieldCount = 1;

        function addField() {
            fieldCount++;
            const container = document.getElementById('json-fields');
            const newFieldPair = document.createElement('div');
            newFieldPair.className = 'form-group-json';

            newFieldPair.innerHTML = `
                <label for="key${fieldCount}">Параметр:</label>
                <input type="text" name="keys" id="key${fieldCount}" class="key" required>
                <label for="value${fieldCount}">Значение:</label>
                <input type="text" name="values" id="value${fieldCount}" class="value" required>

                <label for="measurement${fieldCount}">Измеряемая величина: </label>
                <input type="text" id="measurement${fieldCount}"
                       name="measurement" required
                       class="measurement" placeholder="Величина в СИ">

                <label for="slug_name${fieldCount}">Название eng: </label>
                <input type="text" id="slug_name${fieldCount}" name="slug_name" required
                       class="slug_name" placeholder="temp">

                <button type="button" onclick="removeField(this)" class="button-delete" title="Кнопка удаления">
                    <img src="{{ url_for('static', path='/img/delete.svg') }}" alt="" class="del-icon">
                </button>
            `;

            container.appendChild(newFieldPair);
        }

        function removeField(button) {
            const fieldPair = button.parentElement;
            fieldPair.remove();
        }
    </script>
{% endblock %}

{% block navTitle %}
	<p class="navbar__title">Добавление аварий для прибора</p>
{% endblock %}


{% block content %}
    <form action="{{ url_for('post_add_accident', model_id=model.id) }}" method="POST" class="form-container">
        <div class="form-group">
            <label for="name">Введите название аварии</label>
            <input type="text" id="name" name="name" required class="input" placeholder="Текст">
        </div>
        <div class="form-group">
            <label for="mechanical_accident">Механическая авария</label>
            <input class="checkbox-input" type="checkbox" id="mechanical_accident" name="mechanical_accident" value="True">
        </div>
        <div class="json-container">
            <div id="json-fields" class="json-fields">
                <div class="form-group-json">
                    <label for="key1">Параметр:</label>
                    <input type="text" name="keys" id="key1" class="key" placeholder="Давление">
                    <label for="value1">Значение:</label>
                    <input type="text" name="values" id="value1" class="value" placeholder="45.2">
                    <label for="measurement1">Измеряемая величина: </label>
                    <input type="text" id="measurement1"
                           name="measurement" required
                           class="measurement" placeholder="Величина в СИ">
                    <label for="slug_name1">Название eng: </label>
                    <input type="text" id="slug_name1"
                           name="slug_name" required
                           class="slug_name" placeholder="temp">
                </div>
            </div>
        </div>
        <div class="submit-container">
            <button type="button" onclick="addField()" class="button orange submit">Добавить параметры</button>
            <button type="submit" class="button orange submit">Добавить аварии</button>
        </div>
    </form>
    <div class="table-wrapper table-container-small">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Прибор</th>
                    <th>Параметры</th>
                    <th>Ошибки</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.model_type.name }}</td>
                    <td>
                        {% for field, value in model.specification.items() %}
                            {{ field }}: {{ value }}{% if not loop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for accident in model.accidents %}
                            <div class="value-container">
                                Название: {{ accident.name }}<br>
                                Мех. Повреждение: {% if accident.mechanical_accident %}Да{% else %}Нет{% endif %}<br>
                                Параметры:<br>{% for field, value in accident.change_value.items() %}
                                    {{ field }}: {{ value }}{% if not loop.last %},<br>{% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}