{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/checkbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/table.css') }}">
{% endblock %}

{% block navTitle %}
	<p class="navbar__title">Создание датчика</p>
{% endblock %}

{% block content %}
    <form action="{{ url_for('get_choice_fields_for_model') }}" method="post" class="form-container-height">
        <p class="title-table">Тип датчика</p>
        <div class="table-wrapper form-container-height">
            <table class="table-container">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Параметры</th>
                        <th>Назначение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for option in model_value %}
                        <tr>
                            <td>{{ option.name }}</td>
                            <td>
                                {% for field, value in option.value.items() %}
                                    {{ field }}: {{ value }}{% if not loop.last %},<br>{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <input type="radio" id="html" class="checkbox-input" name="selected_model" value="{{ option.name }}" title="radio-box">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="submit-container">
            <button type="submit" class="button orange submit">Выбрать типа прибора</button>
        </div>
    </form>
{% endblock %}