{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/location/create_scenario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/multiple_select.css') }}">
{% endblock %}

{% block navTitle %}
    <p class="navbar__title">Создание датчика</p>
{% endblock %}

{% block content %}
    <h1 class="title-orange">Выбор полей необходимых для {{ model_selected }} </h1>
    <form action="{{ url_for('create_model', models_name=model_selected) }}" method="post">
        <div class="form-group">
            <label for="fields-id">Доступные аварии:</label>
            <div class="select select--multiple">
                <select name="fields_selected" id="fields-id" class="multi-select" multiple size="10">
                    {% for option in fields_options %}
                        <option value="{{ option.id }}">{{ option.field }} {{ option.value }} {{ option.measurement }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="submit-container">
            <button type="submit" class="button orange submit">Добавить сценарий</button>
        </div>
    </form>
{% endblock %}
