{% extends '/location/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/profile/home.css') }}">
{% endblock %}

{% block navTitle %}
    <p class="navbar__title">Домашняя страница</p>
{% endblock %}

{% block content %}
    <h1 class="title-orange">Активные задачи</h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Название локации</th>
                    <th>Название сценария</th>
                    <th>Прибор</th>
                    <th>Ошибки</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
            {% for admission in admissions %}
                <tr>
                    <td>{{ admission.scenario.location.name }}</td>
                    <td>{{ admission.scenario.name }}</td>
                    <td>
                        {{ admission.scenario.sensor.model.model_type.name }} KKS:{{ admission.scenario.sensor.KKS }}
                    </td>
                    <td class="column-error">
                        {% for accident in admission.scenario.accidents %}
                        	{{ accident.name }},<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% macro get_status_class(status) %}
                            {% if status == "Не активно" %}
                                status-red
                            {% elif status == "Активно" %}
                                status-orange
                            {% elif status == "Завершено" %}
                                status-green
                            {% elif status == "Проверяется" %}
                                status-blue
                            {% else %}
                                "#"
                            {% endif %}
                        {% endmacro %}
                        <p class="status {{ get_status_class(admission.status.value) }}">{{ admission.status.value }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="statistics">
        <div class="statistics__last-work">
            <h2 class="title-orange subtask">Последняя задача</h2>
            {% if last_admission %}
                <div class="statistics-data">
                    <div class="statistics-data__name-task">
                        <p class="statistics-data-name__title"> {{ last_admission.scenario.location.name }} </p>
                        <p class="statistics-data-name__description">
                            {{ last_admission.scenario.sensor.model.model_type.name }}<br>
                        </p>
                    </div>
                    <div class="statistics-data__param">
                        <p class="statistics-data-param__name">{{ last_admission.is_ready }}</p>
                        <p class="statistics-data-param__value">Время выполнения: 20 мин.</p>
                    </div>
                    <p class="statistics-data-task-param">Локация: {{ last_admission.scenario.location.name }}</p>
                    <p class="statistics-data-task-param">Допущено ошибок: 0</p>
                    <p class="statistics-data-task-param">Выявлено неисправностей: 7 из 7</p>
                    <p class="statistics-data-task-param">Исправлено неисправностей: 7 из 7</p>
                    <p class="statistics-data-task-rating">Общая оценка: {{ last_admission.rating }}</p>
                </div>
            {% else %}
                <div class="statistics-data">
                    <div class="statistics-data__name-task">
                        <p class="statistics-data-name__title"> У вас ещё не было пройдено ни одной локации!</p>
                    </div>
                    <p class="menu-info__title statistics-data-task-param">
                           Начните проходить тесты во вкладке "Активные задачи"
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="profile">
            <h2 class="title-orange subtask">Профиль</h2>
            <div class="statistics-data">
                <div class="statistics-data__name">
                    <div class="menu-logo">
                        <p class="menu-logo__initials">{{ user.first_name[0] + user.last_name[0] }}</p>
                    </div>
                    <p class="menu-info__title"> {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }} </p>
                </div>
                <div class="statistics-data__param">
                    <p class="statistics-data-param__name">Статус: </p>
                    <p class="statistics-data-param__value">Обучаемый</p>
                </div>
                <div class="statistics-data__param">
                    <p class="statistics-data-param__name">Последняя активность:</p>
                    <p class="statistics-data-param__value">06.06.2024 12:37</p>
                </div>
                <div class="statistics-data__param">
                    <p class="statistics-data-param__name">Подразделение:</p>
                    <p class="statistics-data-param__value">{{ user.division }}</p>
                </div>
                <div class="statistics-data__param">
                    <p class="statistics-data-param__name">Проведено за работой:</p>
                    <p class="statistics-data-param__value">72.3 ч</p>
                </div>
                <div class="statistics-data__param">
                    <p class="statistics-data-param__name">Средний балл:</p>
                        <p class="statistics-data-param__value">{{ sum_rating }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}